.aboutImgWrapper {
  float: left;
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin: 20px 15px 15px 0;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.aboutTextWrapper {
  float: left;
  width: 60%;
}

.aboutTextWrapper ul{
  list-style: none;
}

.aboutTextWrapper ul li{
  padding: 10px 0;
}

.aboutContactDivs{
  padding: 15px 10px;
  border-bottom: 1px solid #eee;
}

.contactType {
  font-size: 1.3vw;
  font-weight: 600;
  background: transparent;
  border: none;
}

.contactTypeResume {
  font-size: 1.3vw;
  font-weight: 600;
  background: transparent;
  border: none;
  display: inline-block;
  margin-right: 20px;
}

.bttnResume {
  display: inline-block;
  margin-left: 20px;
}

.contactButton {
  border-radius: 4px;
}

.aboutResumeWrapper {
  width: 50%;
  height: 500px;
  overflow: hidden;
  scroll-behavior: smooth;
}

.aboutResumeWrapper img {
  width: 100%;
}

.contactAnchor {
  padding: 2px 5px 3px 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #000;
  margin: 0 20px;
}

.contactAnchor:hover, .contactButton:hover {
  background: #000;
  color: #fff;
  border-color: #000;
  box-shadow: 3px 3px #bbb;
}

a.contactAnchor:hover {
  text-decoration: none;
}

.fa.fa-envelope-o, .fa.fa-file-o {
  font-size: 24px;
  margin-right: 20px;
}
